.form-music {
  //width: 50%;
  padding-right: 99px;
  .content-form-music {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-group,
    select {
      width: 315px;
      height: 40px;

      .form-group-input-content {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      input[type="text"] {
        background: #232323;
        color: white;
        font-size: 24px;
        border: none;
      }

      input:focus {
        outline-style: none;
      }
      input {
        border-color: none;
        width: 211px;
        height: 46px;
      }

      .active {
        border-bottom: 1px solid white;
      }

      .inactive {
        border: none;
      }

      .select-form-music-reason {

        
        background: #232323;
        color: white;
        font-size: 24px;
        border: none;

        select:focus {
          outline-style: none;
        }
        select {
          border-color: none;
          width: 211px;
          height: 46px;
        }

        .active {
          border-bottom: 1px solid white;
        }

        .inactive {
          border: none;
        }
      }
      //   span {

      //   }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      background: #232323;
      color: white;
      font-size: 24px;
      border: none;
    }
  }


  
}
