html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #222222;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #24272a;
}

h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #24272a;
}

p,
span,
ul,
input,
button {
  font-family: "OpenSans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #24272a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@import "./imports.scss";
