@font-face {
  font-family: "montserrat";
  src: local("Montserrat-Regular"),
    url(../../public/fonts/Montserrat-Regular.ttf) format("truetype");
}

//   @font-face {
//     font-family: "american-typewriter-bold";
//     src: local("american-typewriter"),
//       url(../public/font/ufonts.com_american-typewriter-bold.ttf)
//         format("truetype");
//   }

//components
@import "../components/slider/Slider.scss";
@import "../components/form/Form.scss";

@import "../layout/Layout.scss";
