.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.slider-mobile {
	display: none;
}
  
  .swiper-slide {
	background-color: rgba(0,0,0, 0);
	background-position: center;
	background-size: cover;

	height: fit-content !important;
	width: fit-content !important;
  }

  .slider-element {
	transition-duration: 1s;
  }
  
  .swiper-slide-active .slider-element,
  .slider-mobile .slider-element {
	background-color: #d6f379;
	border: 22px solid #d6f379;
	border-radius: 5%;
  }

  .swiper-slide .slider-element img {
	display: block;
	height: 250px;
	width: 270px;
	object-fit: cover;
	border-radius: 5%;
	
	transition-duration: 1s;
  }

  .swiper-slide-active .slider-element img,
  .slider-mobile .slider-element img {
	width: 600px !important;
  }

  .slider-album {
	font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
	font-size: 38px;

	margin-top: 20px;
	margin-bottom: 20px;

	display: none;
	transition-duration: 1s;
  }

  .slider-published {
	font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
	font-size: 15px;

	margin-top: 3px;
	margin-bottom: 3px;

	display: none;
	transition-duration: 1s;
  }

  .swiper-slide-active .slider-element .slider-album,
  .swiper-slide-active .slider-element .slider-published,
  .slider-mobile .slider-element .slider-album,
  .slider-mobile .slider-element .slider-published {
	display: block;
  }

@media (max-width: 992px) {
    .swiper-slide .slider-element img {
		height: 200px;
		width: 220px;
    }

	.swiper-slide-active .slider-element img,
	.slider-mobile .slider-element img {
		width: 300px !important;
	}

	.swiper {
		display: none !important;
	}

	.slider-mobile {
		display: block;
	}
}

@media (max-width: 768px) {
    .swiper-slide .slider-element img {
		height: 150px;
		width: 180px;
    }

	.swiper-slide-active .slider-element img,
	.slider-mobile .slider-element img {
		width: 250px !important;
	}
}