.layout {
  max-width: 1512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .first-row {
    width: 100%;
    display: flex;
    justify-content: center;

    .first-row-content {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;

      .content-arrow-text {
        width: 100%;
        padding-top: 55px;
        padding-bottom: 155px;
        padding-left: 78px;
        display: flex;
        justify-content: center;

        .img-svg {
          width: 50%;
          display: flex;
          justify-content: center;
          .img-flecha {
            width: 100%;
          }
        }

        .information-box {
          width: 50%;

          display: flex;
          justify-content: center;

          .information-box-content {
            width: 100%;
            display: flex;
            flex-direction: column;

            .information-box_span1 {
              font-family: "montserrat";
              font-weight: 700;
              font-size: 64px;
              color: #ffffff;
            }

            .information-box_span2 {
              font-family: "montserrat";
              font-weight: 700;
              font-size: 64px;
              color: #d6f379;
            }
            p {
              font-family: "montserrat";
              font-weight: 400;
              font-size: 16px;
              color: #ffffff;
            }

            .contact,
            .contact-arrow {
              font-family: "montserrat";
              font-weight: 700;
              font-size: 16px;
              color: #ffffff;
            }
          }
        }
      }

      .first-row-title {
        display: flex;

        .first-row-title-content {
          display: flex;
          justify-content: flex-start;

          .first-row-title-music-span {
            color: aliceblue;
            height: 50px;
            //grid-row: 1/3;
            font-family: "montserrat";
            font-size: 30px;

            margin-top: 18px;
            margin-left: 87px;
          }
        }
      }
    }
  }

  .second-row {
    display: flex;
    flex-direction: column;

    .img-barra {
      width: 100%;
    }

    .information-box {
      .information-box-content {
        padding-top: 108px;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        .information-box_span1 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 64px;

          text-align: center;

          color: #ffffff;
        }

        .information-box_span2 {
          width: 453px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          /* or 200% */

          text-align: center;
          color: #ffffff;
        }
      }
    }
  }

  .third-row {
    height: 510px;
    margin-top: 69px;
  }

  .fourth-row {
    width: 100%;
    display: flex;
    justify-content: center;

    .fourth-row-content {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;

      .content-arrow-text {
        width: 100%;
        /* padding-top: 55px; */
        /* padding-bottom: 155px; */
        /* padding-left: 78px; */
        display: flex;
        justify-content: space-between;
        /* justify-content: space-around;*/

        .information-box {
          height: 377px;
          // width: 432px;
          // width: 50%;

          display: flex;
          justify-content: center;

          .information-box-content {
            width: 100%;
            display: flex;
            flex-direction: column;

            .information-box_span1 {
              font-family: "montserrat";
              font-weight: 700;
              font-size: 64px;
              color: #ffffff;
            }

            .information-box_span2 {
              font-family: "montserrat";
              font-weight: 700;
              font-size: 64px;
              color: #d6f379;
            }
            p {
              font-family: "montserrat";
              font-weight: 400;
              font-size: 16px;
              color: #ffffff;
              width: 383px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 958px) {
    .first-row {
      height: 941px;

      .content-arrow-text {
        width: 0px;
        padding-top: 55px;
        padding-bottom: 155px;
        padding-left: 78px;
        display: block !important;
      }
      .information-box {
        height: auto;
      }
    }

    .content-arrow-text {
      flex-direction: column;
      align-items: center;

      .information-box {
        // width: 100% !important;
        height: 40px;
        justify-content: flex-start !important;
      }
    }

    .second-row {
      .information-box_span2 {
        //width: 70% !important;
      }
    }

    .fourth-row .fourth-row-content .content-arrow-text {
      flex-direction: column;
      align-items: center;

      .form-music {
        padding-right: 0px;
      }
    }
  }

  @media (max-width: 395px) {
    .first-row {
      height: 500px;
    }

    .content-arrow-text {
      margin: auto !important;
      width: 80% !important;
      padding-left: 0 !important;

      .information-box {
        width: 100% !important;
        height: 40px;
        justify-content: flex-start !important;
      }

      .img-flecha {
        height: 100%;
      }

      .information-box {
        margin-top: 60px;
      }

      .information-box_span1 {
        font-size: 44px !important;
      }

      .information-box_span2 {
        font-size: 44px !important;
        margin-bottom: 20px;
      }

      .information-box-content p {
        width: 80%;
        margin-bottom: 40px;
      }
    }

    .second-row {
      @media (max-width: 395px) {
        .img-barra {
          margin-top: 150px;
          height: 300px;
          object-fit: cover;
          object-position: 80% 100%;
        }

        .information-box {
          width: 100%;
          margin: auto;
        }

        .information-box-content {
          padding-top: 70px !important;
        }

        .information-box_span1 {
          width: 70% !important;
          font-size: 44px !important;
          margin-bottom: 30px !important;
        }
  
        .information-box_span2 {
          width: 60% !important;
          font-size: 16px !important;
        }
      }
    }

    
    @media (max-width: 395px) {
      .third-row {
        height: 250px;
      }

      .fourth-row .information-box-content {
        width: 80% !important;
        margin: auto;
      }

      .fourth-row .information-box-content p {
        width: 100% !important;
      }
    }
  }
}